In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
population_df <- read_csv(file="population (2).csv", show_col_types = FALSE)

New names:
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* `` -> ...6
* ...

In [3]:
head(population_df)

Warning message:
“One or more parsing issues, see `problems()` for details”

  Estimated Resident Population by Age and Sex (1991+) (Annual-Dec)
1 NA
2 NA
3 NA
4 2005
5 2006
6 2007
  ...2               ...3           ...4               ...5
1 As at              NA             NA                 NA
2 Male               NA             Female             NA
3 Median Age (Years) Total All Ages Median Age (Years) Total All Ages
4 34.9               2037700        36.4               2123300
5 35.2               2059600        36.7               2149500
6 35.5               2076800        37.0               2169000
  ...6               ...7           ...8               ...9
1 NA                 NA             Mean year ended    NA
2 Total              NA             Male               NA
3 Median Age (Years) Total All Ages Median Age (Years) Total All Ages
4 35.7               4161000        34.7               2026200
5 36.0               4209100        35.0               2048700
6 36.3               4245700        35.3               2067600
  ...10              ...11          ...12              ...13
1 NA                 NA             NA                 NA
2 Female             NA             Total              NA
3 Median Age (Years) Total All Ages Median Age (Years) Total All Ages
4 36.3               2109800        35.5               4136000
5 36.6               2136500        35.8               4185300
6 36.9               2158600        36.1               4226200